// #Colors
$black: #1e1d2b;
$darkergray: #252736;
$darkgray: #272938;
$gray: #2b2c3e;
$lightgray: #3b3c4e;
$lightergray: #65667b;
$blue: #0177fb;
$red: #ff6370;
$yellow: #ffeeb8;
$white: #ffffff;

// #Font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;
$extra-bold: 900;
