// #Colors
$black: #1E1D2B;
$darkergray: #252736;
$darkgray: #272938;
$gray: #2B2C3E;
$lightgray: #3B3C4E;
$lightergray: #65667B;
$blue: #0177FB;
$red: #FF6370;
$yellow: #FFEEB8;
$white: #FFFFFF;

// #Font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;
$extra-bold: 900;