.main-title {
  color:$white;
  margin-bottom: 30px;
}

.main-bg-gray {
  background-color: $darkgray;
}

.main-bg-black{
  background-color: $black;
}

.main-bg-darkergray{
  background-color: $darkergray;
}

.main-bg-darkgray{
  background-color: $darkgray;
}

.main-bg-gray{
  background-color: $gray;
}

.main-bg-lightgray{
  background-color: $lightgray;
}

.main-bg-lightergray{
  background-color: $lightergray;
}

.main-bg-blue{
  background-color: $blue;
}

.main-bg-red{
  background-color: $red;
}

.main-bg-yellow{
  background-color: $yellow;
}

.main-bg-white{
  background-color: $white;
}