.home__content {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home__content-search-box {
  margin: auto;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.home__content-git-logo {
  max-width: 250px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 100px;
    margin: auto 20px auto 0;
  }
}
